
    <div class="d-flex align-center justify-center py-4">
        <MudIcon Icon="@Icons.Material.Filled.Autorenew" Style="@($"color:{Colors.Gray.Lighten5}; background:{Colors.Gray.Darken4}; border-radius: 50%; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; padding: 10px;")" Size="Size.Large" Class="mr-2" />
        <MudText Typo="Typo.h5" Style="font-weight: 700; color: #051d6e;">PAccountant</MudText>
    </div>
    <MudNavLink  Href="/"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard"> Dashboard</MudNavLink>
    <MudNavLink Href="/incomes" Icon="@Icons.Material.Filled.AttachMoney"> Incomes</MudNavLink>
    <MudNavLink Href="/Expenses" Icon="@Icons.Material.Filled.Money"> Expenses</MudNavLink>
    <MudNavLink Href="/Debts" Icon="@Icons.Material.Filled.AccountBalance"> Debts</MudNavLink>
     <MudNavLink Href="/budgets" Icon="@Icons.Material.Filled.AccountBalanceWallet"> Budget Planning</MudNavLink>
     <MudNavLink Href="/Users" Icon="@Icons.Material.Filled.People"> Users</MudNavLink>
    
    <MudNavLink Href="/budgets" Icon="@Icons.Material.Filled.AccountBalanceWallet"> Budget Planning</MudNavLink>
    <MudNavLink Href="/Accounts" Icon="@Icons.Material.Filled.AttachMoney"> Accounts</MudNavLink>
    <MudNavLink Href="/Property" Icon="@Icons.Material.Filled.AttachMoney"> Property</MudNavLink>
    <MudNavLink Href="/persons" Icon="@Icons.Material.Filled.AttachMoney"> persons</MudNavLink>
   
    


