

    @* <MudNavMenu Color="Color.Primary" Style="background-color: #EEF2F3;"> *@
    <MudNavLink  Href="/"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard"> Dashboard</MudNavLink>
    @* <MudNavLink  Href="/Leads"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Leaderboard"> Leads</MudNavLink>
     <MudNavLink  Href="/Activities"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.EventNote"> Activities</MudNavLink> *@
        <MudNavLink  Href="/Customers"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.People"> Customers</MudNavLink>
        @* <MudNavLink  Href="/Deals"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AttachMoney"> Deals</MudNavLink> *@
            <MudNavLink  Href="/Campaigns"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Campaign"> Campaigns</MudNavLink>
       <MudNavLink  Href="/SupportTickets"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.SupportAgent"> Support Tickets</MudNavLink>
          @* <MudNavLink  Href="/Notes"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.StickyNote2"> Notes</MudNavLink> *@
         
            <MudNavLink  Href="/Users"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Group"> Users</MudNavLink>
            <MudNavLink  Href="/Settings"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings"> Settings</MudNavLink>

            
@* </MudNavMenu> *@


 
@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CRM</a> 
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Leads">
                <span class="bi bi-flag-fill-nav-menu" aria-hidden="true"></span> Leads
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Activities">
                <span class="bi bi-calendar-event-fill-nav-menu" aria-hidden="true"></span> Activities
            </NavLink>
        </div>
        
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Customers">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Customers
            </NavLink>
        </div>

          <div class="nav-item px-3">
            <NavLink class="nav-link" href="Deals">
                <span class="bi bi-flag-fill-nav-menu" aria-hidden="true"></span> Deals
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="SupportTickets">
                <span class="bi bi-ticket-fill-nav-menu" aria-hidden="true"></span> Support Tickets
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Notes">
                <span class="bi bi-sticky-fill-nav-menu" aria-hidden="true"></span> Notes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Campaigns">
                <span class="bi bi-flag-fill-nav-menu" aria-hidden="true"></span> Campaigns
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Users">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Users
            </NavLink>
        </div>

         

       
    </nav>
</div>
 *@
