
    <div class="d-flex align-center justify-center py-4">
    <MudAvatar Style="color:white" Size="Size.Medium" Class="mr-2">
        <MudIcon Icon="@Icons.Material.Filled.Autorenew" Color="Color.Primary" Style="color: white;" />
    </MudAvatar>
        <MudText Typo="Typo.h5" Style="font-weight: 700;" Color="Color.Primary">PAccountant</MudText>
</div>
    <MudNavLink  Href="/home"  Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard"> Dashboard</MudNavLink>
     @* <MudNavLink Href="/persons" Icon="@Icons.Material.Filled.People"> persons</MudNavLink> *@
      <MudNavLink Href="/Accounts" Icon="@Icons.Material.Filled.AccountBalance"> Accounts</MudNavLink>
      <MudNavLink Href="/Property" Icon="@Icons.Material.Filled.Home"> Property</MudNavLink>

        <MudNavGroup Title="Transactions" Icon="@Icons.Material.Filled.Money" Expanded="false">
            <MudNavLink Href="/incomes" Icon="@Icons.Material.Filled.Money">Income</MudNavLink>
            <MudNavLink Href="/Expense"Icon="@Icons.Material.Filled.Money">Expenses</MudNavLink>
        </MudNavGroup>
    <MudNavLink Href="/budgets" Icon="@Icons.Material.Filled.AccountBalanceWallet"> Budget Planning</MudNavLink>
    <MudNavLink Href="/Debts" Icon="@Icons.Material.Filled.AccountBalance"> Debts</MudNavLink>

    <MudNavGroup Title="Settings" Icon="@Icons.Material.Filled.Settings" Expanded="false">
            <MudNavLink Href="/users" Icon="@Icons.Material.Filled.People">Users</MudNavLink>
            <MudNavLink Href="/Settings"Icon="@Icons.Material.Filled.Settings">Settings</MudNavLink>
        </MudNavGroup>
    

   
    

