@page "/Activities"
@using Domain.Entities
@using Application.Services.Activities

@inject IActivityService ActivityService
<PageTitle>Activities</PageTitle>
<h1>Activities</h1>
<div class="card mt-3">
    <div class="card-header d-flex justify-content-between align-items-center"> 
        <a href="/Activities/create" class="btn btn-secondary">Add Activity</a>
    </div>
</div>
<table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>ActivityType</th>
                <th>Description</th>
                <th>ActivityDate</th>
                <th>CustomerId</th>
                <th>UserId</th>
                <th>CreatedAt</th>
        
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in _activities)
            {
                <tr>
                    <td>@activity.Id</td>
                    <td>@activity.ActivityType</td>
                    <td>@activity.Description</td>
                    <td>@activity.ActivityDate</td>
                    <td>@activity.CustomerId</td>
                    <td>@activity.UserId</td>
                    <td>@activity.CreatedAt</td>
                    <td><a href="/Activities/@activity.Id" class="btn btn-primary">Details</a></td>
                    <td><a href="/Activities/edit/@activity.Id" class="btn btn-primary">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>

    @code {
    // Activity related logic will go here

    List<Activity> _activities = new List<Activity>();
    protected override void OnInitialized()
    {
        _activities = ActivityService.GetAllActivities();
    }

}