@page "/Activities/{Id:int}"
@using Domain.Entities
@using Application.Services.Activities  

@inject IActivityService ActivityService 
@inject NavigationManager NavigationManager

<PageTitle>Activity Details</PageTitle>

<h1>Activity Details</h1>
<div>

@if (activity != null)
{
    <div class="card mt-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Activity Details</h3>
            <a href="/Activities" class="btn btn-secondary">Back to List</a>
        </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Id</dt>
            <dd class="col-sm-9">@activity.Id</dd>

            <dt class="col-sm-3">Activity Type</dt>
            <dd class="col-sm-9">@activity.ActivityType</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@activity.Description</dd>

            <dt class="col-sm-3">Activity Date</dt>
            <dd class="col-sm-9">@activity.ActivityDate</dd>

            <dt class="col-sm-3">Customer Id</dt>
            <dd class="col-sm-9">@activity.CustomerId</dd>

            <dt class="col-sm-3">User Id</dt>
            <dd class="col-sm-9">@activity.UserId</dd>

            <dt class="col-sm-3">Created At</dt>
            <dd class="col-sm-9">@activity.CreatedAt</dd>


        </dl>
    </div>
    </div>
}
else{
    <p>Activity not found</p>
}
</div>
@code{
    [Parameter]
    public int Id { get; set; }

    Activity activity = new Activity();
    protected override void OnInitialized()
    {
        activity = ActivityService.GetActivityById(Id);
    }
}