@using MudBlazor
@using Application.DTO.ExpensePlanning
@using Application.DTO.IncomePlanning
@using Application.DTO.Budget
@using Application.Services.ExpensePlanningServices
@using Application.Services.BudgetServices
@using Application.Services.IncomePlanningServices
@using Application.Services.IncomeTypes
@using Application.Services.ExpenseTypes
@using Domain.Entities

@inject IExpenseTypeService ExpenseTypeService
@inject IIncomePlanningService IncomePlanningService
@inject IIncomeTypeService IncomeTypeService
@inject IBudgetService BudgetService
@inject IExpensePlanningService ExpensePlanningService
<MudDialog>
    <TitleContent>
       <div class="d-flex align-center">
            <MudText Typo="Typo.h6">Budget Planning</MudText>
            <MudSpacer />
            @* <MudText Color="Color.Error">@BudgetId</MudText> *@
           <MudText Class="d-flex align-center pa-2" 
                    Style="@($"background-color: var(--mud-palette-primary); border-radius: 4px; color: var(--mud-palette-primary-text); font-weight: bold;")">
                <MudIcon Icon="@Icons.Material.Filled.AccountBalanceWallet" Class="mr-2" /> 
                @BudgetName
            </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" TabPanelsClass="pa-10">
        <MudTabPanel Text="Income Planning">
            
            
        <EditForm Model="@newIncomePlan" OnValidSubmit="SaveIncomePlan" class="pa-8" > 
            <MudGrid>
                <MudItem xs="6">
                <MudSelect @bind-Value="newIncomePlan.IncomeTypeId" Label="Income Type"  Variant="Variant.Outlined" Margin="Margin.Dense" Clearable Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Paid">
                    <MudSelectItem Value="0">--Select Income Type--</MudSelectItem>
                  
                    @foreach (var incometype in _incometype)
                    {
                        <MudSelectItem Value="@incometype.Id">@incometype.IncomeTypeName</MudSelectItem>
                    }
                </MudSelect>
                </MudItem>
                <MudItem xs="6">
                <MudTextField @bind-Value="newIncomePlan.Amount" Label="Amount" Variant="Variant.Outlined" InputType="InputType.Number" Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                <MudTextField @bind-Value="newIncomePlan.Description" Label="Description" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="6" Class="d-flex justify-center">
                                <MudButton 
                    Variant="Variant.Filled" 
                    Color="Color.Primary" 
                    FullWidth="true" 
                    ButtonType="ButtonType.Submit" 
                    Style="height: 40px; font-weight: bold;">
                    SAVE
                </MudButton>
                </MudItem>
                @* <MudItem xs="6">          
                    <MudTextField @bind-Value="newIncomePlan.BudgetId" InputType="InputType.Hidden"></MudTextField>
                </MudItem> *@
                @if (false) 
                    {
                        <MudTextField @bind-Value="newIncomePlan.BudgetId"></MudTextField>
                    }
            </MudGrid>
        </EditForm>
        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
        <MudItem xs="12" Class="pa-8" >
            <MudTable Items="_incomeplanning" Elevation="0" Dense="true" Class="rounded-lg mt-2">
                <HeaderContent>
                    <MudTh><MudText Typo="Typo.caption" Style="font-weight:700">ID</MudText></MudTh>
                    <MudTh><MudText Typo="Typo.caption" Style="font-weight:700">Type</MudText></MudTh>
                    <MudTh><MudText Typo="Typo.caption" Style="font-weight:700">Amount Planned</MudText></MudTh>
                    @* <MudTh><MudText Typo="Typo.caption" Style="font-weight:700">Budget</MudText></MudTh> *@

                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="ID"><MudText Typo="Typo.caption">#@context.Id</MudText></MudTd>
                    <MudTd DataLabel="Income Type"><MudText Typo="Typo.caption">@context.IncomeType.IncomeTypeName</MudText></MudTd>
                    <MudTd DataLabel="Amount Planned"><MudText Typo="Typo.caption">@context.Amount.ToString("N")</MudText></MudTd>
                    @* <MudTd DataLabel="Amount Planned"><MudText Typo="Typo.caption">@context.Budget.Id</MudText></MudTd> *@


                    @* <MudTd DataLabel="Status">
                        <MudChip T="string" Color="@context.Color" Size="Size.Small" Style="font-size: 10px; height: 18px;">@context.Status</MudChip>
                    </MudTd> *@
                </RowTemplate>
                <FooterContent>
                    <MudTd Style="font-weight:bold;">Total</MudTd>
                    <MudTd></MudTd>
                    <MudTd Style="font-weight:bold;">
                        @_incomeplanning.Sum(x=>x.Amount).ToString("N")
                    </MudTd>
                </FooterContent>
            </MudTable>
        </MudItem>

        </MudTabPanel>
        <MudTabPanel Text="Expense Planning" TabPanelClass="pa-10">
            <EditForm Model="@newExpensePlan" OnValidSubmit="SaveExpensePlanning" class="pa-8" >
            <MudGrid>
                <MudItem xs="6">
                <MudSelect @bind-Value="newExpensePlan.ExpenseTypeId" Label="Expense Type"  Variant="Variant.Outlined" Margin="Margin.Dense" Clearable Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Receipt">
                    <MudSelectItem Value="0">--Select Expense Type--</MudSelectItem>
                    @foreach (var expensetype in _expensetype)
                    {
                        <MudSelectItem Value="@expensetype.Id">@expensetype.ExpenseTypeName</MudSelectItem>
                    }
                </MudSelect>
                </MudItem>
                <MudItem xs="6">
                <MudTextField @bind-Value="newExpensePlan.Amount" Label="Amount" Variant="Variant.Outlined" InputType="InputType.Number" Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                <MudTextField @bind-Value="newExpensePlan.Description" Label="Description" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="6" Class="d-flex justify-center">
                                <MudButton 
                    Variant="Variant.Filled" 
                    Color="Color.Primary" 
                    FullWidth="true" 
                    ButtonType="ButtonType.Submit" 
                    Style="height: 40px; font-weight: bold;">
                    SAVE
                </MudButton>
                </MudItem>
                @if (false) 
                    {
                        <MudTextField @bind-Value="newExpensePlan.BudgetId"></MudTextField>
                    }
            </MudGrid>
        </EditForm>
        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
        <MudItem xs="12" Class="pa-8" >
            <MudTable Items="_expenseplaning" Elevation="0" Dense="true" Class="rounded-lg mt-2">
                <HeaderContent>
                    <MudTh><MudText Typo="Typo.caption" Style="font-weight:700">ID</MudText></MudTh>
                    <MudTh><MudText Typo="Typo.caption" Style="font-weight:700">Type</MudText></MudTh>
                    <MudTh><MudText Typo="Typo.caption" Style="font-weight:700">Amount Planned</MudText></MudTh>
                    @* <MudTh><MudText Typo="Typo.caption" Style="font-weight:700">Budget</MudText></MudTh> *@

                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="ID"><MudText Typo="Typo.caption">#@context.Id</MudText></MudTd>
                    <MudTd DataLabel="Income Type"><MudText Typo="Typo.caption">@context.ExpenseType.ExpenseTypeName</MudText></MudTd>
                    <MudTd DataLabel="Amount Planned"><MudText Typo="Typo.caption">@context.Amount.ToString("N")</MudText></MudTd>
                    @* <MudTd DataLabel="Amount Planned"><MudText Typo="Typo.caption">@context.Budget.Id</MudText></MudTd> *@

                    @* <MudTd DataLabel="Status">
                        <MudChip T="string" Color="@context.Color" Size="Size.Small" Style="font-size: 10px; height: 18px;">@context.Status</MudChip>
                    </MudTd> *@
                </RowTemplate>
                <FooterContent>
                    <MudTd Style="font-weight:bold;">Total:</MudTd>
                    <MudTd></MudTd>
                    <MudTd Style="font-weight:bold;">
                        @* Linq sum of the Amount column *@
                        @_expenseplaning.Sum(x => x.Amount)
                    </MudTd>
                    @* <MudTd></MudTd> *@
                </FooterContent>
            </MudTable>
        </MudItem>
        </MudTabPanel>
        </MudTabs>
    </DialogContent>
</MudDialog>
@code{

    private string ErrorMessage { get; set; } = string.Empty;

    [Parameter] public int BudgetId { get; set; }
    [Parameter] public string BudgetName{get;set;}
    [Parameter] public EventCallback OnSaveSuccess { get; set; }
    
    private CreateIncomePlanningDTO newIncomePlan { get; set; } = new();
    private CreateExpensePlanningDTO newExpensePlan { get; set; } = new();
    private List<GetBudgetDTO> _budget = new List<GetBudgetDTO>();

    private List<IncomeType> _incometype = new List<IncomeType>();
    private List<ExpenseType> _expensetype = new List<ExpenseType>();
    private List<IncomePlanning> _incomeplanning = new List<IncomePlanning>();
    private List<ExpensePlanning> _expenseplaning = new List<ExpensePlanning>();
    private List<CountStatusBudgetDTO> _countStatusBudgets= new();
    private decimal TotalPlannedRevenue => _incomeplanning.Sum(b => b.Amount);    
    private decimal TotalPlannedExpenses => _expenseplaning.Sum(b => b.Amount);    
    private int TotalBudgets=> _countStatusBudgets.Sum(x=>x.Counts);
    private GetBudgetDTO? currentBudget;
    protected override async Task OnParametersSetAsync()
    {        // Assign BudgetId to DTOs (CRITICAL)
        newIncomePlan.BudgetId = BudgetId;
        newExpensePlan.BudgetId = BudgetId;

        _incometype = await IncomeTypeService.GetAllIncomeTypesAsync() ?? new();
        _expensetype = await ExpenseTypeService.GetAllExpenseTypesAsync() ?? new();

        var incomes = await IncomePlanningService.GetIncomePlanningsAsync();
        _incomeplanning = incomes
            .Where(x => x.BudgetId == BudgetId)
            .ToList();

        var expenses = await ExpensePlanningService.GetExpensePlanningsAsync();
        _expenseplaning = expenses
            .Where(x => x.BudgetId == BudgetId)
            .ToList();
           
    }
    private async Task LoadTotalPlannedRevenue(){
        _incomeplanning = await IncomePlanningService.GetIncomePlanningsAsync() ?? new List<IncomePlanning>();
    }
    private async Task LoadTotalPlannedExpenses(){
        _expenseplaning = await ExpensePlanningService.GetExpensePlanningsAsync() ?? new List<ExpensePlanning>();
    }

    private async Task LoadCountStatusBudgets()
    {
       _countStatusBudgets= await BudgetService.CountBudgetByStatusAsync();
    }
        private async Task LoadIncomePlanning()
    {
        var incomes = await IncomePlanningService.GetIncomePlanningsAsync();
        _incomeplanning = incomes
            .Where(x => x.BudgetId == BudgetId)
            .ToList();
    }
    private async Task LoadExpensePlanning()
    {
        var expenses = await ExpensePlanningService.GetExpensePlanningsAsync();
        _expenseplaning = expenses
            .Where(x => x.BudgetId == BudgetId)
            .ToList();
    }
    private async Task SaveIncomePlan()
    {
        try
        {
            await IncomePlanningService.AddIncomePlanning(newIncomePlan);
            await LoadExpensePlanning();
            await LoadIncomePlanning();
            if (OnSaveSuccess.HasDelegate)
            {
                await OnSaveSuccess.InvokeAsync();
            }
        }
        catch(Exception ex)
        {
            ErrorMessage =ex.Message;  
        }
        
    }


    private async Task SaveExpensePlanning()
    {
        try
        {
            
            await ExpensePlanningService.AddExpensePlanningAsync(newExpensePlan);
            await LoadExpensePlanning();
            await LoadIncomePlanning();
            
            if (OnSaveSuccess.HasDelegate)
            {
                await OnSaveSuccess.InvokeAsync();
            }

        }
        catch(Exception ex)
        {
            ErrorMessage =ex.Message;  
        }
    }
}