@using Domain.Entities
@using Application.Services.Deals
@page "/Deals/{Id:int}"

@inject IDealService DealService

@inject NavigationManager NavigationManager 

<PageTitle>Deal Details</PageTitle>

<h1>Deal Details</h1>
<div>

@if (deal != null)
{
    <div class="card mt-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Deal Details</h3>
            <a href="/Deals" class="btn btn-secondary">Back to List</a>
        </div>

        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Id</dt>
                <dd class="col-sm-9">@deal.Id</dd>

                <dt class="col-sm-3">DealName</dt>
                <dd class="col-sm-9">@deal.DealName</dd>

                <dt class="col-sm-3">Customer</dt>
                <dd class="col-sm-9">@deal.CustomerId</dd>

                <dt class="col-sm-3">Value</dt>
                <dd class="col-sm-9">@deal.Value</dd>            

                <dt class="col-sm-3">Stage</dt>
                <dd class="col-sm-9">@deal.Stage</dd>

                <dt class="col-sm-3">CloseDate</dt>
                <dd class="col-sm-9">@deal.CloseDate</dd>

                 <dt class="col-sm-3">CreatedAt</dt>
                <dd class="col-sm-9">@deal.CreatedAt</dd>
            </dl>
        </div>
    </div>
}   
else
{
    <p>Deal not found.</p>
}
</div>  

@code
{
    [Parameter]
    public int Id { get; set; }

    private Deal deal;

    protected override void OnInitialized()
    {
        deal = DealService.GetDealById(Id);
    }
}