@page "/Notes"  
@using Domain.Entities
@using Application.Services.Notes

@inject INoteService NoteService

<PageTitle>Notes</PageTitle>
<h1>Notes</h1>

<div class="card mt-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <a href="/Notes/create" class="btn btn-secondary">Add Note</a>
    </div>
</div>
<table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>NoteText</th>
                <th>CustomerId</th>
                <th>UserId</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in _notes)
            {
                <tr>
                    <td>@note.Id</td>
                    <td>@note.NoteText</td>
                    <td>@note.CustomerId</td>
                    <td>@note.UserId</td>
                    <td>@note.CreatedAt</td>
                    <td><a href="/Notes/@note.Id" class="btn btn-primary">Details</a></td>
                    <td><a href="/Notes/edit/@note" class="btn btn-primary">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>

    @code {
    // note related logic will go here

    List<Note> _notes = new List<Note>();
    protected override void OnInitialized()
    {
        _notes = NoteService.GetAllNotes();
    }
}
