@using Domain.Entities
@using Application.Services.Notes

@page "/Notes/{Id:int}"
@inject INoteService NoteService
@inject NavigationManager NavigationManager

<PageTitle>Notes</PageTitle>

<h1>Notes Details</h1>
<div>

    @if (note != null)
    {

    <div class="card mt-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Notes</h3>
            <a href="/Notes" class="btn btn-secondary">Back to List</a>
        </div>

        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Id</dt>
                <dd class="col-sm-9">@note.Id</dd>

                <dt class="col-sm-3">NoteText</dt> 
                <dd class="col-sm-9">@note.NoteText</dd>

                <dt class="col-sm-3">Customer</dt>
                <dd class="col-sm-9">@note.CustomerId</dd>

                <dt class="col-sm-3">User</dt>
                <dd class="col-sm-9">@note.UserId</dd>

                <dt class="col-sm-3">Created At</dt>
                <dd class="col-sm-9">@note.CreatedAt</dd>

            </dl>
        </div>
    </div>
    }
    else
    {
        <p>Note not found.</p>
    }
</div>
    @code{
        [Parameter]
        public int Id { get; set; }
        private Note note { get; set; }
        protected override void OnInitialized()
        {
            note =  NoteService.GetNoteById(Id);
        }
    }