@page "/persons"
@using Microsoft.EntityFrameworkCore
@using MudBlazor
@using Domain.Entities
@using Application.Services.Persons
@using Microsoft.AspNetCore.Authorization
@* @attribute [Authorize] *@
@inject IDialogService DialogService
@inject IPersonService PersonService

<PageTitle>Persons</PageTitle>
<MudContainer MaxWidth="MaxWidth.Large" Class="py-8">
     <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-6">
        <MudText Typo="Typo.h4" Class="font-weight-bold">
            Person
        </MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(()=>OpenDialog())">
                +Add Person
            </MudButton>
    </div>  

     <MudDataGrid T="Person"
                 Items="@_person"
                 Hover="true"
                 Striped="true"
                 Bordered="true"
                 Dense="true"
                 Filterable="true"
                 SortMode="SortMode.Multiple"
                 Class="elevation-1">

        <Columns>

        <PropertyColumn Property="x => x.Id"
                            Title="ID"
                            Sortable="true" />

               <PropertyColumn Property="x => x.FirstName"
                            Title="FirstName"
                            Sortable="true" />

              <PropertyColumn Property="x => x.LastName"
                            Title="LastName"
                            Sortable="true" /> 


               <PropertyColumn Property="x => x.Sex"
                            Title="Sex"
                            Sortable="true" /> 

               <PropertyColumn Property="x => x.phoneNumber"
                            Title="phoneNumber"
                            Sortable="true" /> 

               <PropertyColumn Property="x => x.Email"
                            Title="Email"
                            Sortable="true" /> 
                            
               <PropertyColumn Property="x => x.Country"
                            Title="Country"
                            Sortable="true" /> 

            <PropertyColumn Property="x => x.DateOfBirth"
                            Title="DateOfBirth"
                            Format="MM/dd/yyyy"
                            Sortable="true" />  

                            <PropertyColumn Property="x => x.Street"
                            Title="Street"
                            Sortable="true" /> 
                            <PropertyColumn Property="x => x.Status"
                            Title="Status"
                            Sortable="true" /> 
                            <PropertyColumn Property="x => x.CreatedBy"
                            Title="CreatedBy"
                            Sortable="true" /> 
         <MudTd DataLabel="Actions">
     
       <TemplateColumn Title="Actions" Context="context">
            <CellTemplate>
                  <MudStack Row="true" Spacing="2" Justify="Justify.Center">
                <MudButton Size="Size.Small" 
                           Variant="Variant.Filled" 
                           Color="Color.Warning"
                           StartIcon="@Icons.Material.Filled.Edit" 
                           OnClick="@(() => OpenEditDialog(context.Item.Id))">
                    Edit
                </MudButton>
                 <MudButton Size="Size.Small" 
                           Variant="Variant.Filled" 
                           Color="Color.Primary" 
                           StartIcon="@Icons.Material.Filled.MoreHoriz"
                           OnClick="@(() => OpenDetailDialog(context.Item.Id))">
                    Details
                </MudButton>
                </MudStack>
            </CellTemplate>
          </TemplateColumn>
          </MudTd>
        </Columns>
    </MudDataGrid>
</MudContainer>


@code{
    List<Person> _person = new List<Person>();
        protected override void OnInitialized()
            {
                _person = PersonService.GetAllPersons();
            }  
            protected IDialogReference dialogReference;
            private Color GetStatusColor(string status)
            {
                return status switch
                {
                    "Active" => Color.Success,
                    "Completed" => Color.Info,
                    "Pending" => Color.Warning,
                    "Cancelled" => Color.Error,
                    _ => Color.Default
                };
            }
            private async Task OpenDialog(List<Person>? _person = null)
           {
            var dialog = await DialogService.ShowAsync<PersonCreateDialog>("Add person");
            var result = await dialog.Result;

            if (result != null && !result.Canceled)
            {
             _person = PersonService.GetAllPersons();
            }
        } 

            private async Task OpenDetailDialog(int id)
            {
                
            var parameters = new DialogParameters<PersonDetailDialog> { { x => x.Id, id } };
             await DialogService.ShowAsync<PersonDetailDialog>("View Details", parameters);
             }


           private async Task OpenEditDialog(int id)
           {
            var parameters = new DialogParameters<PersonEditDialog> { { x => x.Id, id } };
            var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true };
            
            var dialog = await DialogService.ShowAsync<PersonEditDialog>("Edit Person", parameters, options);
            var result = await dialog.Result;

            
          }

   }
     