@page "/Property"
@using Application.Services.Properties
@using Microsoft.EntityFrameworkCore
@using MudBlazor
@using Domain.Entities
@using Microsoft.AspNetCore.Authorization

@inject IDialogService DialogService
@inject IPropertyService PropertyService

<PageTitle>Account</PageTitle>
<MudContainer MaxWidth="MaxWidth.Large" Class="py-8">
     <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-6">
        <MudText Typo="Typo.h4" Class="font-weight-bold">
            Account
        </MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(()=>OpenDialog())">
                +Add Account
            </MudButton>
    </div>  

     <MudDataGrid T="Property"
                 Items="@_property"
                 Hover="true"
                 Striped="true"
                 Bordered="true"
                 Dense="true"
                 Filterable="true"
                 SortMode="SortMode.Multiple"
                 Class="elevation-1">

        <!-- Toolbar -->
        <ToolBarContent>
            <MudText Typo="Typo.h5" Color="Color.Primary">Properties</MudText>
            <MudSpacer />
            <MudMenu Label="Add Property" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Primary">
                <MudMenuItem Icon="@Icons.Material.Filled.Add" OnClick="@(() => OpenDialog())">Single</MudMenuItem>
                <MudMenuItem Icon="@Icons.Material.Filled.ImportExport">Import</MudMenuItem>
            </MudMenu>
        </ToolBarContent>

        <!-- Columns -->
        <Columns>
            <SelectColumn T="Property" />

        <PropertyColumn Property="x => x.Id"
                            Title="ID"
                            Sortable="true" />

        <PropertyColumn Property="x => x.Name"
                            Title="ID"
                            Sortable="true" />


        <PropertyColumn Property="x => x.PropertyCategory.Name"
                            Title="Account Type"
                            Sortable="true" /> 

        <PropertyColumn Property="x => x.Person.FirstName"
                            Title=" Owner"
                            Sortable="true" />
                                   
              
               <PropertyColumn Property="x => x.Value"
                            Title="Value"
                            Sortable="true" />

              <PropertyColumn Property="x => x.Location"
                            Title="Location"
                            Sortable="true" /> 


               <PropertyColumn Property="x => x.AssignedTo"
                            Title="AssignedTo"
                            Sortable="true" /> 

               <PropertyColumn Property="x => x.PurchasePrice"
                            Title="PurchasePrice"
                            Sortable="true" /> 

               <PropertyColumn Property="x => x.Identification"
                            Title="Identification"
                            Sortable="true" /> 
                            
               <PropertyColumn Property="x => x.CreatedBy"
                            Title="CreatedBy"
                            Sortable="true" /> 

            <PropertyColumn Property="x => x.CreatedAt"
                            Title="CreatedAt"
                            Format="MM/dd/yyyy"
                            Sortable="true" />  

            <PropertyColumn Property="x => x.PurchaseDate"
                            Title="PurchaseDate"
                            Format="MM/dd/yyyy"
                            Sortable="true" />  


       
   
         <MudTd DataLabel="Actions">
     
       <TemplateColumn Title="Actions" Context="context">
            <CellTemplate>
                  <MudStack Row="true" Spacing="2" Justify="Justify.Center">
                <MudButton Size="Size.Small" 
                           Variant="Variant.Filled" 
                           Color="Color.Warning"
                           StartIcon="@Icons.Material.Filled.Edit" 
                           OnClick="@(() => OpenEditDialog(context.Item.Id))">
                    Edit
                </MudButton>
                 <MudButton Size="Size.Small" 
                           Variant="Variant.Filled" 
                           Color="Color.Primary" 
                           StartIcon="@Icons.Material.Filled.MoreHoriz"
                           OnClick="@(() => OpenDetailDialog(context.Item.Id))">
                    Details
                </MudButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </MudTd>

   
        </Columns>

    </MudDataGrid>
</MudContainer>

@code{
       List<Property> _property = new List<Property>();
        protected override async Task OnInitializedAsync()
            {
                _property = await PropertyService.GetAllPropertysAsync();
            }  
            protected IDialogReference dialogReference;
            private Color GetStatusColor(string status)
            {
                return status switch
                {
                    "Active" => Color.Success,
                    "Completed" => Color.Info,
                    "Pending" => Color.Warning,
                    "Cancelled" => Color.Error,
                    _ => Color.Default
                };
            }
            private async Task OpenDialog(List<Property>? _property = null)
             {
            var dialog = await DialogService.ShowAsync<CreatePropertyDialog>("Add Property");
            var result = await dialog.Result;

            if (result != null && !result.Canceled)
            {
              _property =await PropertyService.GetAllPropertysAsync();
            }
        } 

            private async Task OpenDetailDialog(int id)
            {
                
            var parameters = new DialogParameters<PropertyDetailDialog> { { x => x.Id, id } };
             await DialogService.ShowAsync<PropertyDetailDialog>("View Details", parameters);
             }


           private async Task OpenEditDialog(int id)
           {
            var parameters = new DialogParameters<EditPropertyDialog> { { x => x.Id, id } };
            var options = new DialogOptions { MaxWidth = MaxWidth.Small, FullWidth = true };
            
            var dialog = await DialogService.ShowAsync<EditPropertyDialog>("Edit Property", parameters, options);
            var result = await dialog.Result;

            
          }

   }
     
